html {
    background-image: url("../images/forecastBackground.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: 200%;
}

body {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Noto Sans JP', sans-serif;
}

#main-container {
    background-color: rgba(230, 230, 230, 0.692);
    width: 75%;
    min-width:500px;
    min-height: 80vh;
    height: fit-content;
    margin: 3% auto;border-radius: 10px;
    padding: 0;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.37);
    border:1px solid rgba(255, 255, 255, 0.568);
}

img {
    width: 50px;
    height: 50px;
    background-color: rgb(219, 219, 219);
    border-radius: 35px;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

#header {
    width: 100%;
    background-color: rgba(85, 85, 85, 0.2);
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

#header-text {
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    letter-spacing: 6px;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.281);
}

#main-row {
    background-color: rgba(255, 0, 0, 0);
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

#main-col-left {
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-right: none;
}

.btn {
    margin:1px auto;
    width: 100%;
    border: none;
    background-color: rgb(214, 214, 214);
    border-radius: 20px;
}

.btn:hover {
    letter-spacing: 3px;
    transition: .5s;
}

#main-col-right {
    background-color: rgba(255, 255, 255, 0.6);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.city-div {
    border: 1px solid rgba(112, 112, 112, 0.315);
    background-color: rgba(255, 255, 255, 0.295);
    margin: 15px;
    height: 200px;
    float: left;
    width: 90%;
    border-radius: 10px;
    padding: 15px 25px;
    line-height: 12px;
}

.city-div:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.6);
}

#city-title {
    font-weight: bold;
    font-size: 25px;
}

.city-name {
    font-size: 34px;
    font-weight: bold;
}

.forecast-div {
    border: 1px solid rgba(112, 112, 112, 0.315);
    background-color: rgba(255, 255, 255, 0.295);
    margin: 15px;
    height: fit-content;
    float: left;
    width: 90%;
    padding: 40px auto 0 auto;
    border-radius: 10px;
    display: flex;
    align-content: center;
}

.forecast-box:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.377);
    transition: .2s;
    background-color: rgba(255, 255, 255 0.417);
}

.forecast-box {
    width: 120px;
    height: fit-content;
    background-color: rgb(230, 230, 230);
    float: left;
    border: 1px solid rgba(112, 112, 112, 0.315);
    margin: 15px 1% 0px 1%;
    border-radius: 10px;
    padding: 0 4px;
    justify-content: center;
    padding: 10px;
}

footer {
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(31, 31, 31);
    letter-spacing: 8px;
    line-height: 20px;
    font-size: 12px;
    border-top: 1px rgba(255, 255, 255, 0.315) solid;
    background-color: rgba(255, 255, 255, 0.74);
}

@media only screen and (max-width: 825px) {
    .forecast-box {
        width: 70px;
        height: 140px;
        margin: 10px auto;
    }
    #main-container {
        height: 750px;
    }
    #main-col-left {
        background-color: rgba(255, 255, 255, 0.6);
        justify-content: center;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}