html {
    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

body {
    background-color: rgba();
    font-family: 'Noto Sans JP', sans-serif;
}

#main-container {
    background-color: rgba(255, 255, 255, 0);
    width: 75%;
    min-width:500px;
    height: 600px;
    margin: 7% auto;border-radius: 5px;
    padding: 0;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
    border:1px solid rgba(255, 255, 255, 0.5);
}

img {
    width: 50px;
    height: 50px;
    background-color: rbg();
    border-radius: 35px;
    border: 1px solid rgba();
}


#header {
    width: 100%;
    background-color: rgba();
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: black;
}

#header-text {
    color: rbg();
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    letter-spacing: 6px;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
}

#main-row {
    background-color: rgba();
    width: 85%;
    margin: auto;
    margin-top: 19px;
    height: 460px;
}

#main-col-left {
    background-color: rgba();
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 2px solid rgba();
    border-right:none;
}

#main-col-right {
    background-color: rgba();
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn {
    margin:1px auto;
    width: 100%;
    border: none;
    background-color: rbg();
    border-radius: 20px;
}

.btn:hover {
    letter-spacing: 4px;
    transition: .5s;
}

.city-div {
    border: 1px solid rgba();
    background-color: rgba();
    margin: 20px;
    height: 190px;
    float: left;
    width: 85%;
    border-radius: 10px;
    padding: 15px 20px;
    line-height: 12px;
}

.city-div:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
    transition: 0.2s;
    background-color: rgba();
}

#city-title {
    font-weight: bold;
    font-size: 25px;
}

.forecast-div {
    border: 1px solid rgba();
    background-color: rgba();
    margin: 15px;
    height: 200px;
    float: left;
    width: 90%;
    padding: 40px auto 0 auto;
    border-radius: 10px;
    display: flex;
    align-content: center;
}

.forecast-div:hover {
    box-shadow: 0px 5px 8px rgba();
    transition: .2s;
    background-color: rgba();
}

.forecast-box {
    width: 120px;
    height: 140px;
    background-color: rbg();
    float:left;
    border: 1px solid rgba();
    padding: 0 4px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer {
    text-align: center;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb();
    letter-spacing: 7px;
    line-height: 20px;
    font-size: 12px;
    border-top: 1px rgba() solid;
    background-color: rgba();
}

@media only screen and (max-width: 833px) {
    .forecast-box {
        width: 65px;
        height: 150px;
        margin: 10px auto;
    }
    #main-container {
        height: 745px;
    }
    #main-col-left {
        background-color: rgba();
        justify-content: center;
        border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}